.head {
  text-align: center;
}

p.right {
  float:right
}

p.left {
  float: left;
}

img {
  border-radius: 50px;
  padding: 0px 10px 0px 10px;
}

br.br1 {
margin-top:10px; line-height:200px;
}

body {
  background-color: #64ccff;
}

.sidebar {
  width: 20%;
  background-color: #fbfbfb;
  padding: 20px;
  border: 10px solid red;
}
